.SearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    background: #a31010;
    }
    
    .SearchContent {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    @media only screen and (max-width:1000px) {
        .SearchContent {
        flex-direction: column;
        }
    }

    .SearchContentTitle {
        font-size: 3.6rem;
        font-weight: bold;
        }