.SearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    background: #a31010;
    }
    
    .SearchContent {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    @media only screen and (max-width:1000px) {
        .SearchContent {
        flex-direction: column;
        }
    }

    .SearchContentTitle {
        font-size: 3.6rem;
        font-weight: bold;
        }


        .SearchContentText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            
            }

        @media only screen and (min-width:1500px) {
            .SearchContentText {
            padding: 3rem 9rem;
            }
        }

    .SearchTitleButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .SearchTitleButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
      }
      
      .DropdownContainer {
        display: flex;
        align-items: center;
      }
      
      label {
        padding: 10px;
      }
      
      select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 10px;
      }
      
      .SearchBar {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
      
      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
      }
      
      button {
        padding: 8px 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }